body{
  font-size:12px;
  line-height:1.5;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
 }
.ux_head{
  height: 50px;
  background: #373d41;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.ux_head img{margin-left:30px;margin-top:10px;}
.ux_head section{position: absolute;top:0;right:20px;line-height: 50px;color:#fff;}
.ux_head section a{color:#fff;text-decoration: none;}
.ux_crumb{position:fixed;left:195px;top:30px;}
.ux_left{
  position: fixed;
  width: 180px;
  background: #293038;
  left: 0;
  top: 50px;
  bottom: 0;
}
.ux_body{
  position: fixed;
  left: 195px;
  top: 65px;
  bottom: 0;
  right: 15px;
  overflow: auto;
}
.ux_body a{
  color:#20a0ff;
  text-decoration: none;
}
.ux_login{
  padding: 20px;
  width: 500px;
  margin: auto;
}
.ux_page{
  padding: 10px 0;
  text-align: right;
}
.el-tag{margin-right:10px;}
.el-menu-item{line-height:42px;height:42px;font-size:12px;}
.el-menu-item.is-active{color:#fff;background:#00C1DE;}
.el-breadcrumb{padding:0px 0  20px;}
.el-menu-item a{display: block;color:#fff;text-decoration: none;}
.el-breadcrumb__item__inner a{text-decoration: none;color:#97a8be}


/* .ux_head,
.ux_left,
 .ux_body, 
.ux_page{
  display: none;
} */


