<div class="baseBoxbg1">
    <div class="baseBox" id="section_1">
        <div class="zl_list_14" id="zl_list_14">
            <img src="static/images/bg/01.jpg" class="no1">
            <img src="static/images/bg/02.jpg">
            <img src="static/images/bg/03.jpg">
        </div>
        <div class="zl_list_1"><a href="index.html#section_1">&nbsp;</a></div>
        <div class="zl_list_2 quicklink">
            <ul class="clearfix">
                <li><i>&nbsp;</i><a href="#section_2">关于我们</a></li>
                <li><i>&nbsp;</i><a href="#section_3">合作伙伴</a></li>
                <li><i>&nbsp;</i><a href="#section_4">成功案例</a></li>
                <li><i>&nbsp;</i><a href="#section_5">联系我们</a></li>
            </ul>
            <a href="#section_2" class="otherlink"></a>
        </div>
    </div>
    <div class="zl_list_15"></div>
</div>

<div class="baseBox" id="section_2">
    <div class="zl_list_3">
        <ul class="clearfix">
            <li>
                <h2><a href="/case/1.html">会议展览<br />管理与咨询</a></h2>
                <p>经验丰富的项目团队提供最专业最周到的服务，包含会议、展览的组织与策划，主场的搭建与现场运营；协调和管理会议展览期间的现场服务，相关项目产品的租赁与咨询服务等。</p>
            </li>
            <li>
                <h2><a href="/case/2.html">商业空间<br />设计与施工</a></h2>
                <p>创意设计精英们组成的资深团队，提供优秀设计理念，打造国际化高品质的主场搭建及展位展台的专业设计方案，以环保念为基础进行施工，提供空间及艺术全方位的视觉效果展示。 </p>
            </li>
            <li>
                <h2><a href="/case/3.html">会议活动<br />策划与执行</a></h2>
                <p>活动策划执行团队有极为丰富的各类会议布置、大型活动策划及组织实施的工作经验，专业安排从初步策划概念到现场后勤支援服务，将所有信息变为难忘的精彩体验。</p>
            </li>
        </ul>
    </div>
</div>


<div class="baseBox">
    <div class="zl_list_4">
        <ul class="clearfix">
            <li>
                <h2>关于我们</h2>
                <p class="no1">北京中联艾博国际会议展览服务有限公司成立于2008年8月，是一家专门从事组织，举办各类国内国际性展览服务， 商务会议策划的会展公司。我们不仅提供展览，会议策划组织，视觉设计，展位搭建，展品运输，展览全面解决方案等一系列专业化服务，同时还和政府相关部门及行业主管部门建立了广泛的联系网络和良好合作关系......<br/>                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/case/4.html">+详细</a>
                </p>
            </li>
            <li>
                <h2>服务理念</h2>
                <p class="no2">我公司为各类行业企业客户提供全方位的国内外参展及延伸服务，提供从展览会筹展到结束的全方位一条龙服务模式。以其前店后厂的一站式理念，丰富的设计团队经验，精湛的制作技术，一流的系统化专业化服务和卓越的服务质量得到了国内外客户的一致好评。我们针对企业自身特征和产品特点，为其提供市场调研，行业分析......<br/>                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/case/5.html">+详细</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="zl_list_51">
        <h2>全球展览服务</h2>
        <p>北京中联艾博国际会议展览服务有限公司（United Expo）的优势是中国唯一一家在美国（拉斯维加斯）、欧洲（德国科隆）、澳洲（澳大利亚悉尼）及中国（北京）均设有库房的展览公司，同时积累了丰富的外展经验，而北京农展馆铝型材指定搭建商的身份，让我们培养了很多经验丰富的搭建工人，他们有着丰富的工作经验。我们同时也是德国奥克坦姆OSPI会员单位，与奥克坦姆是多年合作伙伴关系。</p>
    </div>
</div>

<div class="zl_list_52">
    <ul>
        <li class="no1"><img src="/static/images/2017_base/index_22.png" /><a href="global/list_2.html"></a></li>
        <li class="no2"><img src="/static/images/2017_base/index_21.png" /><a href="global/list_1.html"></a></li>
        <li class="no3"><img src="/static/images/2017_base/index_23.png" /><a href="global/list_3.html"></a></li>
        <li class="no4"><img src="/static/images/2017_base/index_24.png" /><a href="global/list_4.html"></a></li>
    </ul>
</div>
<div class="baseBox">
    <div class="zl_list_32 clearfix">
        <h2>我们的优势</h2>北京中联艾博国际会议展览服务有限公司深知如何发挥自身的独特优势，<br />以最专业的优质服务来赢得客户的认可并为其创造更高的商业价值。
    </div>
    <div class="zl_list_33">&nbsp;</div>
    <div class="zl_list_34 clearfix">
        <ul>
            <li style="margin-right:20px;">
                <h2>团队优势</h2>在多年丰富经验的项目团队及一流的创意设计精英团队与全国农业展览馆的全方位合作下，使我们成功承接了全国农业展览馆的助展工程项目，这极大地加强了我公司在展览行业内的竞争优势。
            </li>
            <li>
                <h2>软件管理优势</h2>公司自主研发了报馆、收费、统计管理为一体的软件管理系统，用于管理各个展会的基础数据信息、报馆流程、施工时间等。此系统方便安全，快捷高效目前已经广泛适用于各个主场公司与展览馆。
            </li>
            <li style="margin-right:20px;">
                <h2>价格优势</h2>我公司已经拥有颇具规模的展览制作工厂，为客户节约成本，依靠严格的专业会展管理体系，提高工作效率，确保客户能以最性价比的价格得到最佳的解决方案，让客户花的每分钱都物有所值。
            </li>
            <li>
                <h2>合作优势</h2>我们与政府部门、行业组织 、及同业机构建立了良好合作背景关系, 树立了良好的口碑. 成功的合作加强了彼此间的信任, 并增加了业务合作范围, 为公司业务稳健发展拓宽了道路。
            </li>
        </ul>
    </div>

</div>





<div class="baseBoxbg2">
    <div class="baseBox" id="section_3">
        <div class="zl_list_5">
            <h2>大事记</h2>
            <ul>
                <li class="history" id="history">&nbsp;</li>
                <!--li class="hilf"></li-->
                <!--li class="hiri"></li-->
            </ul>
            <h2>合作伙伴</h2>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

<div class="baseBox" id="section_4">
    <div class="zl_list_6">
        <h2>成功案例</h2>
        <h3>每一个案例都见证着我们成长的印记，今天这里记录了我们难忘的回忆，明天我们邀请您与我们一起走向更加美好的未来。</h3>
        <!--case-->
        <div class="zl_list_6_1">主场搭建</div>
        <div class="zl_list_6_2">
            <a href="program01.html"><img src="static/images/ad/wenbohui.jpg" class="zl62_img" /></a>
            <div class="zl62_date_dd">07<i>/</i></div>
            <div class="zl62_date_mm">11</div>
            <div class="zl62_date_yy">2013</div>
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="program01.html">第八届中国北京国际文化创意产业博览会</a>
                <p><a href="program01.html">The 8th China Beijing International Cultural & Creative Industry Expo</a><br /><br
                    /> 客　户：北京世界贸易中心
                </p>
            </div>
        </div>
        <div class="zl_list_6_2">
            <a href="program02.html"><img src="static/images/ad/jingjiaohui.jpg" class="zl62_img" /></a>
            <div class="zl62_date_dd">28<i>/</i></div>
            <div class="zl62_date_mm">05</div>
            <div class="zl62_date_yy">2012</div>
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="program02.html">2012京交会“中国国际城市智能化技术与服务大会”</a>
                <p><a href="program02.html">UrbanTec China Conference@CIFTIS 2012</a><br /><br /> 客　户：科隆展览（北京）有限公司
                </p>
            </div>
        </div>
        <h6><a href="prolistZC.html">+ 更多案例</a></h6>
        <!--/case-->
        <!--case-->
        <div class="zl_list_6_1">特装搭建</div>
        <div class="zl_list_6_2">
            <a href="program20.html"><img src="static/images/ad/2014wenziban.jpg" class="zl62_img" /></a>
            <div class="zl62_date_dd">28<i>/</i></div>
            <div class="zl62_date_mm">05</div>
            <div class="zl62_date_yy">2014</div>
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="program20.html">2014中国（北京）国际服务贸易交易会-文资办展台</a>
                <p><a href="program20.html">China Beijing International Fair For Trade In Services 2014</a><br /><br /> 客　户：北京市国有文化资产监督管理办公室
                </p>
            </div>
        </div>
        <div class="zl_list_6_2">
            <a href="program19.html"><img src="static/images/ad/2014malaixiya.jpg" class="zl62_img" /></a>
            <div class="zl62_date_dd">28<i>/</i></div>
            <div class="zl62_date_mm">05</div>
            <div class="zl62_date_yy">2014</div>
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="program19.html">2014中国（北京）国际服务贸易交易会-马来西亚展台</a>
                <p><a href="program19.html">China Beijing International Fair For Trade In Services 2014</a><br /><br /> 客　户：马来西亚贸促局
                </p>
            </div>
        </div>
        <h6><a href="prolistTZ.html">+ 更多案例</a></h6>
        <!--/case-->
        <!--case-->
        <div class="zl_list_6_1">会议活动</div>
        <div class="zl_list_6_2">
            <a href="program21.html"><img src="static/images/ad/2014ktm.jpg" class="zl62_img" /></a>
            <div class="zl62_date_dd">22<i>/</i></div>
            <div class="zl62_date_mm">04</div>
            <div class="zl62_date_yy">2014</div>
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="program21.html">2014KTM X-BOW 中国首场试驾活动</a>
                <p><a href="program21.html">KTM X-BOW Test Drive 2014</a><br /><br /> 客　户：锐益轲汽车贸易（上海）有限公司
                </p>
            </div>
        </div>
        <div class="zl_list_6_2">
            <a href="program06.html"><img src="static/images/ad/2013jingjiaohui.jpg" class="zl62_img" /></a>
            <div class="zl62_date_dd">29<i>/</i></div>
            <div class="zl62_date_mm">05</div>
            <div class="zl62_date_yy">2013</div>
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="program06.html">2013京交会“中国国际智能化技术与服务大会”</a>
                <p><a href="program06.html">UrbanTec China Conference@CIFTIS 2013</a><br /><br /> 客　户：科隆展览（北京）有限公司
                </p>
            </div>
        </div>
        <h6><a href="prolistHY.html">+ 更多案例</a></h6>
        <!--/case-->
    </div>
</div>

<div class="baseBox" id="section_5">
    <div class="zl_list_7">
        <h2>联系我们</h2>
        <div class="zl_list_7bg">
            <iframe src="map.html" frameborder="0" scrolling="no"></iframe>
        </div>
        <!--1-20-->
        <div class="zl_list_31">
            <h3>北京中联艾博国际会议展览服务有限公司</h3>
            <h4>China United Expo Service Co., Ltd.</h4>
            <ul class="clearfix">
                <li style="width:318px">
                    中联艾博 ● 办公室<br /> 北京市朝阳区东三环北路14号农展馆南侧院甲67号
                    <br /><br /> Tel +86 10 6509 6371<br /> Fax +86 10 6509 6373<br /> E-mail cuec@u-expo.com<br />
                </li>
                <li>
                    中联艾博 ● 工厂<br /> 北京市顺义区赵全营镇前桑圆村东
                    <br/>圆东路80号2—3
                    <br /><br /> Tel +86 10 6509 6371<br /> Fax +86 10 6509 6373<br /> E-mail cuec@u-expo.com<br />
                </li>
            </ul>
        </div>
        <!--/1-20-->
    </div>
</div>

<div class="baseBoxbg3">
    <div class="baseBox">
        <div class="zl_list_8">
            Copyright &copy; 2014 • CUEC • All rights reserved.&nbsp;&nbsp;&nbsp;京公网安备11010502024752&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design
            By CUEC </div>
    </div>
</div>

<!-- tip --->
<div class="zl_list_12">
    <div class="zl_list_13">
        <a href="en/index.html" class="rounded noico no1">&nbsp;</a>
        <a href="mailto:Hr@u-expo.com" class="rounded noico no2">&nbsp;</a>
        <a href="http://weixin.qq.com/" class="rounded noico no3">&nbsp;</a>
        <a href="http://weibo.com/" class="rounded noico no4">&nbsp;</a>
        <div class="h9">&nbsp;</div>
        <ul id="nav" class="quicklink">
            <li><a href="#section_1">首　页</a></li>
            <li><a href="#section_2">关于我们</a></li>
            <li><a href="#section_3">合作伙伴</a></li>
            <li><a href="#section_4">成功案例</a></li>
            <li><a href="#section_5">联系我们</a></li>
        </ul>
    </div>
</div>
<!-- /tip --->