<!doctype html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>中联艾博</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
</head>

<body>
    {{{body}}}
    <!--js-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/static/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.grid-a-licious.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <!--/js-->
</body>

</html>