<section id="app">
    {{> head}} {{> left}}
    <section class="ux_body"  v-loading.fullscreen.lock="loading">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>项目列表</el-breadcrumb-item>
            <el-breadcrumb-item v-if="!is_edit">新增项目</el-breadcrumb-item>
            <el-breadcrumb-item v-else>编辑项目</el-breadcrumb-item>
        </el-breadcrumb>
        <el-form ref="form" :model="form" label-width="160px" style="width:800px">
            <el-form-item label="活动中文名">
                <el-input v-model="form.cn_name"></el-input>
            </el-form-item>
            <el-form-item label="活动英文名">
                <el-input v-model="form.en_name"></el-input>
            </el-form-item>
            <el-form-item label="客户">
                <el-input v-model="form.custom" style="width:200px"></el-input>
            </el-form-item>
            <el-form-item label="标签">
              <el-autocomplete v-model="tag_keyword" :fetch-suggestions="on_search_tag" :trigger-on-focus="false" placeholder="添加标签" @select="on_select_tag"></el-autocomplete>
              <el-button @click="on_add_tag" type="primary">添加</el-button>
              <div>
                  <el-tag v-for="tag in form.tag_list" :key="tag.id" :closable="true" type="gray" @close="on_colse_tag(tag)">
                      \{{tag.value}}
                  </el-tag>
              </div>
            </el-form-item>
            <el-form-item label="活动时间">
                <el-date-picker v-model="form.time" type="daterange" placeholder="选择日期范围">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="城市">
                <el-input v-model="form.city" style="width:200px"></el-input>
            </el-form-item>
            <el-form-item label="图片上传">
              <el-upload
                class="upload-demo"
                action="/api/upload"
                :on-preview="on_pic_show"
                :on-remove="on_pic_remove"
                :file-list="list_pic"
                list-type="picture-card">
                <i class="el-icon-plus"></i>
              </el-upload>
                <div>只能上传jpg/png文件，且不超过500kb;请上传 大于或等于 4张大图；大小为613px * 413px</div>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="on_save">保存</el-button>
                <el-button @click="window.location.assign('/admin')">返回</el-button>
            </el-form-item>
        </el-form>
    </section>
</section>
<script>
new Vue({
    el: '#app',
    data: {
        is_edit:false,
        form: {
            id:'',
            en_name:'',
            cn_name:'',
            custom:'',
            city:'',
            pic:'',
            tag_list:[],
        },
        dialogImageUrl: '',
        list_pic: [{
            name: 111,
            url: '/static/upload/20170912_142921.jpg'
        }, {
            name: 111,
            url: '/static/upload/20170912_142921.jpg'
        }, {
            name: 111,
            url: '/static/upload/20170912_142921.jpg'
        }, {
            name: 111,
            url: '/static/upload/20170912_142921.jpg'
        }, ],
        tag_keyword: '',
        tag_select:'',
        loading_tag: false,
        loading:false,
        dialogVisible: false
    },
    methods: {
        get_id(){
            this.form.id = $.getUrlParam('id');
            if(!this.form.id) return;
            this.is_edit = true;
            this.get_detail();
        },
        get_detail(){
            this.loading = true;
            do_ajax({
                url: '/api/case/detail',
                data: {
                    id:this.form.id
                }
            }).then(res => {
                let data = res.data;
                this.form.en_name = data.en_name;
                this.form.cn_name = data.cn_name;
                this.form.custom = data.custom;
                this.form.city = data.city;
                this.form.tag_list = data.tag_list || [];
                this.form.pic = data.pic;
                this.loading = false;
            }).catch(msg => {
                this.$message.error(msg);
                this.loading = false;
            })
        },
        on_save() {
            this.loading = true;
            let data = {};
            data.id = this.form.id;
            data.en_name = this.form.en_name;
            data.cn_name = this.form.cn_name;
            data.custom = this.form.custom;
            data.city = this.form.city;
            data.tag_list = JSON.stringify(this.form.tag_list);
            data.pic = this.form.pic;
            do_ajax({
                url: '/api/case/edit',
                data: data
            }).then(res => {
                window.location.assign('/admin/')
                this.loading = false;
            }).catch(msg => {
                this.loading = false;
                this.$message.error(msg);
            })
        },
        on_colse_tag(item) {
            this.form.tag_list = this.form.tag_list.filter(o => {
                return o.id != item.id
            });
        },
        on_select_tag(item) {
            this.tag_select = item;
        },
        on_add_tag(){
            if(this.tag_select == '') return;
            let index = this.form.tag_list.find(o => {
                return o.id == this.tag_select.id
            });
            if (index === undefined) {
                this.form.tag_list.push(this.tag_select);
            }
            this.tag_keyword = '';
            this.tag_select = '';
        },
        on_search_tag(queryString, cb) {
            this.loading_tag = true;
            do_ajax({
                url: '/api/tag/list',
                data: {
                    keyword: queryString,
                }
            }).then(res => {
                cb(res.data.list);
                this.loading_tag = false;
            }).catch(msg => {
                this.$message.error(msg);
            })
        },
        on_pic_remove(file, fileList) {
            console.log(file, fileList);
        },
        on_pic_show(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        }
    },
    mounted: function() {
        this.get_id();
    }
})
</script>
