<section id="app">
    {{> head}} {{> left}}
    <section class="ux_body" v-loading.fullscreen.lock="loading">
        <el-form ref="form" label-width="160px" style="width:400px;padding-top:50px;">
            <el-form-item label="账号">
                <el-input v-model="username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="password" type="password"></el-input>
            </el-form-item>
            <el-form-item label=" ">
                <el-button type="primary" @click="on_submit">登陆</el-button>
            </el-form-item>
        </el-form>
    </section>
</section>
<script>
new Vue({
    el: '#app',
    data: {
        username: '',
        password: '',
        loading: false,
    },
    methods: {
        on_submit() {
            this.loading = true;
            do_ajax({
                url: '/api/login',
                data: {
                    username: this.username,
                    password: this.password
                }
            }).then(res => {
                window.location.assign('/admin');
            }).catch(msg => {
                this.$message.error(msg);
                this.loading = false;
                this.loading = false;
            })
        }
    }
})
</script>
