<div class="baseBoxbg4">
    <div class="baseBox">
        <div class="zl_list_53">
            <section><a href="/index.html" class="logo">&nbsp;</a></section>
            <h2 class="no1">美国仓库 · 拉斯</h2>
            <h3 class="under_line">
        联系人：Zoey Jiang<br />
        地　址：6969 Speedway Boulevard，Suite 103，Las Vegas 89115
      </h3>
            <p>
                我公司近几年在美国参加过多次展会，如2016国际汽车零部件及售后服务展览会,2017美国屋面防水展,2017美国广播电视展,2017美国五金展,以及2017美国服装展。 </p>
            <p>
                <img src="/static/images/2017_base/list_pic_1.png" />
                <br />
                <br />
                <br />
            </p>
        </div>
    </div>
    <div class="baseBox">
        <div class="zl_list_53">
            <h2 class="no5">成功案例</h2>
            <h3 class="under_line2">
        每一个案例都见证着我们成长的印记，今天这里记录了我们难忘的回忆，明天我们邀请您与我们一起走向更加美好的未来。
      </h3>
        </div>
    </div>
    <div class="baseBox">
        <!--case-->
        {{#each list}}
        <div class="zl_list_6_2">
            <a href="/program/detail?id={{id}}"><img src="{{pic_first pic}}" class="zl62_img" /></a>
            {{format_show_date start_time}}
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="/program/detail?id={{id}}">{{cn_name}}</a>
                <p>
                    <a href="/program/detail?id={{id}}">{{en_name}}</a>
                    <br />
                    <br /> 客　户：{{custom}}
                </p>
            </div>
        </div>
        {{/each}}
        <!--/case-->
        {{page page page_size page_total tag}}
    </div>
    <div class="zl_list_15"></div>
</div>
<div class="baseBoxbg3">
    <div class="baseBox">
        <div class="zl_list_8">
            Copyright &copy; 2014 • CUEC • All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design By CUEC
        </div>
    </div>
</div>
