<div class="baseBoxbg4">
    <div class="baseBox">
        <div class="zl_list_53">
            <section><a href="/index.html" class="logo">&nbsp;</a></section>
            <h2 class="no4">中国仓库 · 北京</h2>
            <h3 class="under_line">
        联系人：Cissy Liu<br />
        地　址：No. 394 Dongyao Village, Jinzhan Town, Chaoyang District, Beijing
      </h3>
            <p>
                北京中联艾博国际会议展览服务有限公司公司作为农展馆的驻场搭建公司办公地址于北京农展馆院内67号，我们同时在朝阳区金盏乡东窑村394号拥有1000平米的库房。配备奥客塔姆铝料1000余套。我公司曾多次作为北京游乐设施展，北京警用装备展及中国国际印刷博览会的主场搭建商及标准展位搭建商。
                <p>
                    <img src="/static/images/2017_base/list_pic_4.png" />
                    <br />
                    <br />
                    <br />
                </p>
        </div>
    </div>
    <div class="baseBox">
        <div class="zl_list_53">
            <h2 class="no5">成功案例</h2>
            <h3 class="under_line2">
        每一个案例都见证着我们成长的印记，今天这里记录了我们难忘的回忆，明天我们邀请您与我们一起走向更加美好的未来。
      </h3>
        </div>
    </div>
    <div class="baseBox">
        <!--case-->
        {{#each list}}
        <div class="zl_list_6_2">
            <a href="/program/detail?id={{id}}"><img src="{{pic_first pic}}" class="zl62_img" /></a>
            {{format_show_date start_time}}
            <div class="zl62_type">/ 设计 / 搭建</div>
            <div class="zl62_line"></div>
            <div class="zl62_title">
                <a href="/program/detail?id={{id}}">{{cn_name}}</a>
                <p>
                    <a href="/program/detail?id={{id}}">{{en_name}}</a>
                    <br />
                    <br /> 客　户：{{custom}}
                </p>
            </div>
        </div>
        {{/each}}
        <!--/case-->
        {{page page page_size page_total tag}}
    </div>
    <div class="zl_list_6 baseBox">
        <h6><a href="list_4_more.html">+ 更多案例</a></h6>
    </div>
    <div class="zl_list_15"></div>
</div>
<div class="baseBoxbg3">
    <div class="baseBox">
        <div class="zl_list_8">
            Copyright &copy; 2014 • CUEC • All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design By CUEC
        </div>
    </div>
</div>
