
@font-face {font-family: "cl";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#cl') format('svg'); /* iOS 4.1- */
}

.cl {
  font-family:"cl" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.cl-guanbi:before { content: "\e600"; }
.cl-icon_02:before { content: "\e601"; }
.cl-icon_01:before { content: "\e602"; }
.cl-ico_you:before { content: "\e603"; }
.cl-ico_zuo:before { content: "\e604"; }
