<section id="app">
    {{> head}} {{> left}}
    <section class="ux_crumb">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item><a href="/admin">首页</a></el-breadcrumb-item>
            <el-breadcrumb-item><a href="/admin/case">项目管理</a></el-breadcrumb-item>
            <el-breadcrumb-item v-if="!is_edit">新增项目</el-breadcrumb-item>
            <el-breadcrumb-item v-else>编辑项目</el-breadcrumb-item>
        </el-breadcrumb>
    </section>
    <section class="ux_body"  v-loading.fullscreen.lock="loading">

        <el-form ref="form" :model="form" label-width="160px" style="width:800px">
            <el-form-item label="活动中文名">
                <el-input v-model="form.cn_name"></el-input>
            </el-form-item>
            <el-form-item label="活动英文名">
                <el-input v-model="form.en_name"></el-input>
            </el-form-item>
            <el-form-item label="客户">
                <el-input v-model="form.custom" style="width:200px"></el-input>
            </el-form-item>
            <el-form-item label="标签">
              <el-autocomplete v-model="tag_keyword" :fetch-suggestions="on_search_tag" :trigger-on-focus="true" placeholder="添加标签" @select="on_select_tag"></el-autocomplete>
              <!-- <el-button @click="on_add_tag" type="primary">添加</el-button> -->
              <div>
                  <el-tag v-for="tag in form.tag_list" :key="tag.id" :closable="true" type="gray" @close="on_colse_tag(tag)">
                      \{{tag.value}}
                  </el-tag>
              </div>
            </el-form-item>
            <el-form-item label="活动时间">
                <el-date-picker v-model="form.time" type="daterange" placeholder="选择日期范围" range-separator=" / ">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="城市">
                <el-input v-model="form.city" style="width:200px"></el-input>
            </el-form-item>
            <el-form-item label="图片上传">
              <el-upload
                class="upload-demo"
                action="/api/upload"
                :on-preview="on_pic_show"
                :on-remove="on_pic_remove"
                :on-success="on_pic_upload"
                :file-list="pic_list"
                list-type="picture-card">
                <i class="el-icon-plus"></i>
              </el-upload>
                <div>只能上传jpg/png文件，且不超过500kb;请上传 大于或等于 4张大图；大小为613px * 413px</div>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="on_save">保存</el-button>
                <el-button @click="window.location.assign('/admin/case')">返回</el-button>
            </el-form-item>
        </el-form>
    </section>
    <el-dialog v-model="dialogVisible" size="tiny">
        <img width="100%" :src="dialogImageUrl" alt="">
    </el-dialog>
</section>

<script>
new Vue({
    el: '#app',
    data: {
        is_edit:false,
        form: {
            id:'',
            en_name:'',
            cn_name:'',
            custom:'',
            city:'',
            time:[null,null],
            pic:[],
            tag_list:[],
        },
        pic_list:[],
        dialogImageUrl: '',
        tag_keyword: '',
        tag_select:'',
        loading_tag: false,
        loading:false,
        dialogVisible: false
    },
    methods: {
        get_id(){
            this.form.id = $.getUrlParam('id');
            if(!this.form.id) return;
            this.is_edit = true;
            this.get_detail();
        },
        get_detail(){
            this.loading = true;
            do_ajax({
                url: '/api/case/detail',
                data: {
                    id:this.form.id
                }
            }).then(res => {
                let data = res.data;
                this.form.en_name = data.en_name;
                this.form.cn_name = data.cn_name;
                this.form.custom = data.custom;
                this.form.city = data.city;
                this.form.time = [+data.start_time ? new Date(+data.start_time) : '',+data.end_time ? new Date(+data.end_time) : ''];
                this.form.tag_list = data.tag_list || [];
                this.form.pic = JSON.parse(data.pic || '[]');
                this.pic_list = JSON.parse(data.pic || '[]');
                this.loading = false;
            }).catch(msg => {
                this.$message.error(msg);
                this.loading = false;
            })
        },
        on_save() {
            this.loading = true;
            let data = {};
            data.id = this.form.id;
            data.en_name = this.form.en_name;
            data.cn_name = this.form.cn_name;
            data.custom = this.form.custom;
            data.city = this.form.city;
            data.start_time = this.form.time[0] ? +this.form.time[0] : 0;
            data.end_time = this.form.time[1] ? +this.form.time[1] : 0;
            data.tag_list = JSON.stringify(this.form.tag_list);
            data.pic = JSON.stringify(this.form.pic);
            do_ajax({
                url: '/api/case/edit',
                data: data
            }).then(res => {
                window.location.assign('/admin/case')
                this.loading = false;
            }).catch(msg => {
                this.loading = false;
                this.$message.error(msg);
            })
        },
        on_colse_tag(item) {
            this.form.tag_list = this.form.tag_list.filter(o => {
                return o.id != item.id
            });
        },
        on_select_tag(item) {
            this.tag_select = item;
            this.on_add_tag();
        },
        on_add_tag(){
            if(this.tag_select == '') return;
            let index = this.form.tag_list.find(o => {
                return o.id == this.tag_select.id
            });
            if (index === undefined) {
                this.form.tag_list.push(this.tag_select);
            }
            this.tag_keyword = '';
            this.tag_select = '';
        },
        on_search_tag(queryString, cb) {
            this.loading_tag = true;
            do_ajax({
                url: '/api/tag/list',
                data: {
                    keyword: queryString,
                }
            }).then(res => {
                cb(res.data.list);
                this.loading_tag = false;
            }).catch(msg => {
                this.$message.error(msg);
            })
        },
        on_pic_upload(res, file, fileList){
            file.url = res.data.url;
            this.form.pic.push({
                url:res.data.url,
                name:res.data.name
            });
        },
        on_pic_remove(file, fileList) {
            this.form.pic = this.form.pic.reduce((sam,obj) => {
                if(obj.url != file.url){
                    sam.push(obj);
                }
                return sam;
            },[]);
        },
        on_pic_show(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        }
    },
    mounted: function() {
        this.get_id();
    }
})
</script>
