<div class="baseBoxbg4">
    <div class="baseBox">
        <div class="zl_list_9" id="section_1">
            <a href="/" class="logo">&nbsp;</a>
            <ul>
                <li style="border:0;" class="imgMar">
                    <img src="/static/images/ad/pic_31.jpg" /><img src="/static/images/ad/pic_32.jpg" /><img src="/static/images/ad/pic_33.jpg"
                    /><img src="/static/images/ad/pic_34.jpg" />
                </li>
                <li class="no1">
                    <h3>会议活动策划与执行</h3>活动策划执行团队专业为客户提供一条龙的大型会议活动策划与执行服务,从活动的前期策划到后期执行、再到大型会议活动的效果评估,为客户提供大型会议策划执行一站式解决方案。同时我们还利用尖端的多媒体技术、夺目的视听效果、舞台音乐、舞美编排及特效巧妙的结合，极大地提升客户的品牌地位。除此之外，为了会议展览项目的顺利进行，我公司业务还涵盖酒店预定服务，车辆预定服务，翻译/礼仪/保安服务，以及其他配套服务等。
                </li>
                <li>
                    <h3>● 酒店在线预订 </h3>我们拥有酒店预订服务中心，与多家酒店合作，为会员提供即时预订优惠房价服务。
                </li>
                <li>
                    <h3>● 车辆服务预订</h3>为了满足不同客户的用车需求，我们所提供多种车型订车服务，包括会展班车线路策划与设计，参展商接送用车，观众观展用车，以及机场接送机服务等。
                </li>
                <li>
                    <h3>● 翻译/礼仪/保安服务</h3>参展期间提供具有专业素质与技能的翻译、礼仪、保安等服务，在满足您的专业人才需求的同时最大程度的减少客户的人力及差旅成本支出。
                </li>
                <li class="nolast">
                    <h3>● 其他配套服务</h3>我们凭借自身优势还可提供旅游观光、会议活动等服务以满足客户的多元化需求。
                </li>
            </ul>

        </div>
    </div>
    <div class="zl_list_15"></div>
</div>
<div class="baseBoxbg3">
    <div class="baseBox">
        <div class="zl_list_8">
            Copyright &copy; 2014 • CUEC • All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design
            By CUEC
        </div>
    </div>
</div>