<div class="baseBoxbg4">
    <div class="baseBox">
        <div class="zl_list_9" id="section_1">
            <a href="/" class="logo">&nbsp;</a>
            <ul>
                <li style="border:0;" class="imgMar">
                    <img src="/static/images/ad/pic_41.jpg" /><img src="/static/images/ad/pic_42.jpg" /><img src="/static/images/ad/pic_43.jpg"
                    /><img src="/static/images/ad/pic_44.jpg" />
                </li>
                <li class="no1" style="border:0;">
                    <h3>关于我们</h3>北京中联艾博国际会议展览服务有限公司成立于2008年8月， 是一家专门从事组织，举办各类国内国际性展览服务， 商务会议策划的会展公司。我们不仅提供展览，会议策划组织，视觉设计，展位搭建，展品运输，展览全面解决方案等一系列专业化服务，同时还和政府相关部门及行业主管部门建立了广泛的联系网络和良好合作背景关系。<br
                    /><br /> 通过与全国农业展览馆的全方位合作，在其大力的支持与协助下，中联艾博成功承接了农展馆的助展工程项目，充分展示了我公司在展览行业内的实力与优势所在， 经过多年的不懈努力，我们目前已拥有颇具规模的展览制作工厂，专业的施工队伍及技术工人。依靠严格的专业会展管理体系，
                    不仅为客户全程提供一条龙的服务模式，还确保企业客户能够以最合理的价格，得到最可靠的质量保证。<br/><br/> 在未来我们的团队将继续凭借着一流的服务、丰富的经验、对市场敏锐的触觉、以及对客户需求的了解，不断拓展业务领域，提高自身制作、执行能力，
                    为广大的新老客户提供更加专业，优质，及周到细心的多元化服务。<br/><br/>
                </li>
            </ul>

        </div>
    </div>
    <div class="zl_list_15"></div>
</div>
<div class="baseBoxbg3">
    <div class="baseBox">
        <div class="zl_list_8">
            Copyright &copy; 2014 • CUEC • All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design
            By CUEC
        </div>
    </div>
</div>