<div class="baseBoxbg4">
    <div class="baseBox">
        <div class="zl_list_9" id="section_1">
            <a href="index.html" class="logo">&nbsp;</a>
            <ul>
                <li style="border:0;" class="imgMar">
                    <img src="/static/images/ad/pic_51.jpg" /><img src="/static/images/ad/pic_52.jpg" /><img src="/static/images/ad/pic_53.jpg"
                    /><img src="/static/images/ad/pic_54.jpg" />
                </li>
                <li class="no1" style="border:0;">
                    <h3>服务理念</h3>我公司为各类行业企业客户提供全方位的国内外参展及延伸服务，提供从展览会筹展到结束的全方位一条龙服务模式。以其前店后厂的一站式理念，丰富的设计团队经验， 精湛的制作技术，一流的系统化专业化服务和卓越的服务质量得到了国内外客户的一致好评。
                    <br /><br /> 我们针对企业自身特征和产品特点，为其提供市场调研，行业分析，展览计划等一系列有效的咨询方案及整体全面解决方案，即从项目策划、设计，到施工、布展、测试、运营直至后期维护的各个环节，为参展企业客户提供专业化、多元化、系统化的全方位服务。公司还具备酒店预订、展品运输、票务代订、礼仪翻译、车辆安排、商务旅游等等一系列展览服务配套项目将参展客户的品牌形象和产品优势立体的呈现在潜在客户面前，
                    为其提供快速、便捷的一条龙服务模式。
                    <br/><br/> 一支有活力，有梦想，多年丰富经验的年轻团队和颇具规模的展览制作工厂是中联艾博为客户提供商务接洽、方案策划、创意设计、施工搭建、运营管理以及市场推广系列服务的重要保证。前店后厂“一站式”理念不但能够提升服务品质，避免沟通失误，还能有效地为客户节约成本、提高效率，体现我公司的优越竞争价格的优势所在。
                    <br/><br/> 自公司成立以来，设计精英团队善于提供优秀的设计创意构思理念及展览展示方案，我们在为客户提供一流的专业化服务的同时还与各级政府机构部门及各级商、协会及多家著名展览机构建立了广泛的业务联系网络和良好合作背景关系，在项目运营及管理中得到了其大力支持与认可。
                    <br/>
                    <br/>
                </li>
            </ul>

        </div>
    </div>
    <div class="zl_list_15"></div>
</div>
<div class="baseBoxbg3">
    <div class="baseBox">
        <div class="zl_list_8">
            Copyright &copy; 2014 • CUEC • All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design
            By CUEC
        </div>
    </div>
</div>