<div class="baseBoxbg4">
    <div class="baseBox">
        <div class="zl_list_91">
            <a href="index.html" class="logo">&nbsp;</a>
        </div>
        <div class="zl_list_6">
            <h2>成功案例</h2>
            <h3>每一个案例都见证着我们成长的印记，今天这里记录了我们难忘的回忆，明天我们邀请您与我们一起走向更加美好的未来。</h3>
            <!--case-->
            {{#each list}}
            <div class="zl_list_6_2">
                <a href="program22.html"><img src="{{pic_first pic}}" class="zl62_img" /></a>
                {{format_show_date start_time}}
                <div class="zl62_type">/ 设计 / 搭建</div>
                <div class="zl62_line"></div>
                <div class="zl62_title">
                    <a href="/program/detail?id={{id}}">{{cn_name}}</a>
                    <p>
                        <a href="/program/detail?id={{id}}">{{en_name}}</a>
                        <br />
                        <br /> 客　户：{{custom}}
                    </p>
                </div>
            </div>
            {{/each}}
            <!--/case-->
            {{page page page_size page_total tag}}
        </div>
        <div class="zl_list_15"></div>
    </div>
</div>
<div class="baseBoxbg3">
    <div class="baseBox">
        <div class="zl_list_8">
            Copyright &copy; 2014 • CUEC • All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Design By CUEC
        </div>
    </div>
</div>
<!--tip--->
<div class="zl_list_12">
    <div class="zl_list_13">
        <a href="en/index.html" class="rounded noico no1">&nbsp;</a>
        <a href="mailto:Hr@u-expo.com" class="rounded noico no2">&nbsp;</a>
        <a href="http://weixin.qq.com/" class="rounded noico no3">&nbsp;</a>
        <a href="http://weibo.com/" class="rounded noico no4">&nbsp;</a>
        <div class="h9">&nbsp;</div>
        <ul id="nav" class="">
            <li><a href="index.html#section_1">首　页</a></li>
            <li><a href="index.html#section_2">关于我们</a></li>
            <li><a href="index.html#section_3">合作伙伴</a></li>
            <li><a href="index.html#section_4">成功案例</a></li>
            <li><a href="index.html#section_5">联系我们</a></li>
        </ul>
    </div>
</div>
<!--/tip--->
