/* @author hongz1125@gmail.com @Date 20110510 */
.pg_nav_1 li{height:27px;}
.pg_nav_1 li.sen a{font:12px "微软雅黑","黑体","宋体","arial";}
.pg_nav_1 li a{font:14px "微软雅黑","黑体","宋体","arial";}
.pg_list_3{font:12px "微软雅黑","黑体","宋体","arial";}








/**/