<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
    if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
        var version = parseFloat(RegExp.$1);
        if (version > 2.3) {
            var phoneScale = parseInt(window.screen.width) / 750;
            document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
        } else {
            document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
        }
    } else {
        document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
    }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>
    <section class="lx_join_1">
        <div class="lx_join_2"></div>
        <div class="lx_join_3" data-href="join02.html">申请商务合作</div>
    </section>
</body>

</html>
