<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
        if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                var phoneScale = parseInt(window.screen.width) / 750;
                document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script src="/static/js/jquery.js"></script>

    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>

    <header>
        重置密码
        <div class="headRi"> <i class="iconfont">&#58890;</i>
        </div>
    </header>

    <section class="lx_box_1">
        <div class="lx_place_1"></div>
        <div class="lx_pis_1">6-20个英文字母/ 数字，建议组合使用</div>
        <form action="../static/data/api.json" method="post" data-link="project01.html">
            <div class="lx_list_1 mb40">
                <input type="password" value="111111" class="lx_inp_1" placeholder="设置新密码" id="vpassword" maxlength="20" />
            </div>

            <div class="tc">
                <div class="lx_btn_1" data-ajaxform="true">完成</div>
            </div>
        </form>
    </section>

</body>
</html>