<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
        if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                var phoneScale = parseInt(window.screen.width) / 750;
                document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script src="/static/js/jquery.js"></script>


    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>

    <header>
        鹿秀科技系统升级
        <div class="headLf"> <i class="iconfont" data-href="message04.html">&#58924;</i>
        </div>
    </header>
    <section class="lx_box_1">
        <div class="lx_list_19">
            <div class="title">鹿秀科技系统升级</div>
            <div class="date">上午 16:00</div>
            <div class="lx_line_2"></div>
            <div class="detail">
                招商和工商两家银行将于7月13日招商和工商两家银行将招商和工商两家银商两家银行将行将于7月13日招商和工商两银行将于招商和工商两家银行将于7月13日招商和招商和工两家银行将于7月13日招商和工商两家银行将于招商和工商银行将于7月13日招商和工商两家银行将于...
            </div>
        </div>

    </section>

</body>
</html>