<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
        if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                var phoneScale = parseInt(window.screen.width) / 750;
                document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script src="/static/js/jquery.js"></script>


    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    <header>
        我的发布
        <div class="headLf"> <i class="iconfont" data-href="myproject01.html">&#58924;</i>
        </div>
    </header>
    <section class="lx_box_1">
        <div class="lx_tab_1">
            <span class="active" data-href="mypub01.html"> <b>发布的项目</b>
            </span>
            <span data-href="mypub02.html"> <b>完成的项目</b>
            </span>
            <span data-href="mypub03.html">
                <b>下架的项目</b>
            </span>
        </div>
        <div class="lx_box_3 lx_list_2" data-href="mypub06.html">
            <p class="no1">
                北大医药 <i>[000788]</i>
            </p>
            <p class="no2">医药制造业 - 三级行业</p>
            <p class="no31">
                5.91
                <i>元/股</i>
            </p>
            <p class="no32">卖出价格</p>
            <p class="no41">8000万股</p>
            <p class="no42">卖出数量</p>
            <p class="no51">15个月</p>
            <p class="no52">剩余限售期</p>
            <p class="no8 lx_col_3">项目在线</p>
        </div>
        <div class="lx_box_3 lx_list_2" data-href="mypub08.html">
            <p class="no1">
                北大医药
                <i>[000788]</i>
            </p>
            <p class="no2">医药制造业 - 三级行业</p>
            <p class="no31">
                5.91
                <i>元/股</i>
            </p>
            <p class="no32">卖出价格</p>
            <p class="no41">8000万股</p>
            <p class="no42">卖出数量</p>
            <p class="no51">15个月</p>
            <p class="no52">剩余限售期</p>
            <p class="no8 lx_col_3">发布审核中</p>
        </div>
        <div class="lx_box_3 lx_list_2" data-href="mypub09.html">
            <p class="no1">
                北大医药
                <i>[000788]</i>
            </p>
            <p class="no2">医药制造业 - 三级行业</p>
            <p class="no31">
                5.91
                <i>元/股</i>
            </p>
            <p class="no32">卖出价格</p>
            <p class="no41">8000万股</p>
            <p class="no42">卖出数量</p>
            <p class="no51">15个月</p>
            <p class="no52">剩余限售期</p>
            <p class="no8 lx_col_3">下架审核中</p>
        </div>

    </section>

</body>
</html>