<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
        if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                var phoneScale = parseInt(window.screen.width) / 750;
                document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script src="/static/js/jquery.js"></script>


    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    <header>修改项目</header>
    <section class="lx_box_1">
        <form active="#" method="post" id="form1">
            <div class="lx_place_1"></div>
            <div class="lx_box_3">
                <p class="lx_list_10">
                    公司代码
                    <span> <i>000788</i>
                    </span>
                </p>
                <p class="lx_list_10">
                    公司名称
                    <span> <i>北大医药</i>
                    </span>
                </p>
                <p class="lx_list_10">
                    申万行业
                    <span>
                        <i>医药</i>
                    </span>
                </p>
            </div>
            <div class="lx_box_3">
                <p class="lx_pis_2">价格</p>
                <p class="lx_list_5">
                    <span class="active" data-pricetype="#radio01">
                        绝对价格
                        <i class="arrow-up"></i>
                        <i class="arrow-up arrow-up2"></i>
                    </span>
                    <span data-pricetype="#radio02">
                        相对于市价
                        <i class="arrow-up"></i>
                        <i class="arrow-up arrow-up2"></i>
                    </span>
                    <span data-pricetype="#radio03">保密</span>
                </p>
                <div class="lx_list_5cont">
                            <input type="hidden" name="priceType" value="0">
        <div class="pr active" id="radio01">
                        <input type="text" class="lx_inp_1" placeholder="请输入购买价格">
                        <i class="lx_inp_ri">元/股</i>
                    </div>
                    <div class="pr" id="radio02">
                        <input type="text" class="lx_inp_1" placeholder="请输入相对市价">
                        <i class="lx_inp_ri">%</i>
                    </div>
                    <div class="pr" id="radio03"></div>
                </div>
            </div>
            <div class="lx_list_1">
                <input type="text" class="lx_inp_4" placeholder="请输入卖出股数" value="800">
                <i class="inputTxt inputTxtLf">卖出股数</i>
                <i class="inputTxt inputTxtRi">万股</i>
            </div>
            <div class="lx_list_1 next mb10">
                <input type="date" class="lx_inp_4" placeholder="请输入股票解禁日期" value="2015-06-01">
                <i class="inputTxt inputTxtLf">股票解禁日期</i>
                <i class="iconfont inputTxt inputTxtRi lx_col_b4">&#58889;</i>
            </div>
            <div class="lx_box_3 mb40" data-href="self12.html">
                <p class="lx_list_41">
                    备注
                    <span>

                        <i class="iconfont lx_ico_2"></i>
                    </span>
                </p>
            </div>
        </form>
        <div class="mb40 tc">
            <div class="lx_btn_1" data-href="mypub10.html">提交</div>
        </div>
    </section>
</body>
</html>