<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
        if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                var phoneScale = parseInt(window.screen.width) / 750;
                document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
<link rel="stylesheet" href="/static/css/index.css"/>
<script src="/static/js/jquery.js"></script>


<script src="/static/js/api.js"></script>
<script src="/static/js/index.js"></script></head>
<body>

    <section class="lx_box_1">
        <div class="lx_box_3 first">
            <p class="lx_list_41 l120">
                头像
                <span>
                    <img src="/static/images/lx_1.png"  class="vm"/> <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
            <div class="lx_line_2"></div>
            <p class="lx_list_41">
                昵称
                <span>
                    黑色柳丁 <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
            <div class="lx_line_2"></div>
            <p class="lx_list_41">
                手机号码
                <span>
                    13888888888
                </span>
            </p>

            <div class="lx_line_2"></div>
            <p class="lx_list_41">
                微信账户
                <span>
                    未绑定
                </span>
            </p>

        </div>
        <div class="lx_box_3">
            <p class="lx_list_41">
                姓名
                <span>
                    李君安
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
             <div class="lx_line_2"></div>
            <p class="lx_list_41">
                身份证
                <span>
                    35xxxxxxxxxxxxxxxx00
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
        </div>
        <div class="lx_box_3">
            <p class="lx_list_41">
                公司及职务
                <span>
                    招商证券 - 营业员
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
            <div class="lx_line_2"></div>
            <p class="lx_list_41">
                性别
                <span>
                    男
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
            <div class="lx_line_2"></div>
            <p class="lx_list_41">
                地区
                <span>
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
            <div class="lx_line_2"></div>
            <p class="lx_list_41">
                邮箱
                <span>
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
        </div>
        <div class="lx_box_3">
            <p class="lx_list_41">
                备注
                <span>

                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
        </div>

    </section>

    <header>个人资料</header>

</body>
</html>