<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
        if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                var phoneScale = parseInt(window.screen.width) / 750;
                document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script src="/static/js/jquery.js"></script>

    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>

    <header>
        意见反馈
        <div class="headLf"> <i class="iconfont" data-href="self01.html">&#58924;</i>
        </div>
    </header>

    <section class="lx_box_1">
        <div class="lx_place_1"></div>
        <form action="../static/data/api.json" data-link="self01.html">
            <div class="lx_box_3">
                <p>
                    <textarea class="lx_inp_1 H260" placeholder="请详细描述你的问题和建议，我们将及时跟进解决" maxlength="100" id="vFeedback"></textarea>
                </p>
            </div>
            <div class="lx_box_3 mb40">
                <input type="text" class="lx_inp_1" placeholder="手机号码/邮箱（选填，方便我们联系您）" maxlength="40"></div>
            <div class="tc">
                <div class="lx_btn_1" data-ajaxform="true">提交</div>
            </div>
        </form>
    </section>

</body>
</html>