<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <!--移动端兼容适配 -->
    <script type="text/javascript">
        if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                var phoneScale = parseInt(window.screen.width) / 750;
                document.write('<meta name="viewport" content="width=750,minimum-scale=' + phoneScale + ',maximum-scale=' + phoneScale + ',target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=750,target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=750,user-scalable=no,minimal-ui">');
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--移动端兼容适配 -->
    <title>鹿秀金融</title>
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
<link rel="stylesheet" href="/static/css/index.css"/>
<script src="/static/js/jquery.js"></script>


<script src="/static/js/api.js"></script>
<script src="/static/js/index.js"></script></head>
<body>

    <section class="lx_box_1">
        <div class="lx_place_1"></div>
        <div class="lx_box_3">
            <p class="lx_list_41">
                行业
                <span> <i class="Cblue">金融服务</i> <i class="Cblue">金融服务</i>
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
            <ul class="lx_list_15 clearfix">
                <li class="active"><i>金融服务</i></li>
                <li><i>金融服务2</i></li>
                <li><i>金融服务3</i></li>
                <li><i>金融服务4</i></li>
                <li><i>金融服务5</i></li>
                <li><i>金融服务6</i></li>
                <li><i>金融服务7</i></li>
            </ul>
            <div class="lx_line_2"></div>
            <p class="lx_list_41">
                主题
                <span>
                    <i class="Cblue">所有主题</i>
                    <i class="iconfont lx_ico_2">&#58889;</i>
                </span>
            </p>
        </div>
        <div class="lx_box_3">
            <p class="lx_list_41">
                价差率
                <span class="Cgray">
                    <i class="lx_list_14"><input type="number" />
                        <i>%</i></i> 
                    —
                    <i class="lx_list_14"><input type="number" />
                        <i>%</i></i> 
                </span>
            </p>
        </div>
        <div class="lx_box_3">
            <p class="lx_list_41">
                备注
                <span>

                    <i class="iconfont lx_ico_2"></i>
                </span>
            </p>
        </div>
    </section>

    <header>投资偏好</header>

</body>
</html>